body {
  font-family: 'Poppins', sans-serif;
  background-color: #F7EEE3;
}

.recipe_img {
  clip-path: circle();
  width:150px;
}

.sidebar {
  padding-left:30px;
  
}

.full_recipe {
  width:800px;
}

.full_recipe_img {
  clip-path: circle();
  width:200px;
}

.icon {
  width:20px;
  margin-right:8px;
}

.recipe_details {
  padding-bottom:10px;
}


