body {
  font-family: 'Poppins', sans-serif;
  background-color: #F7EEE3;
}

textarea {
  height: 150px;
}

.recipe_img {
  clip-path: circle();
  width:150px;
}

.sidebar {
  padding-left:30px;
  
}

.full_recipe {
  width:800px;

}

.full_recipe_img {
  clip-path: circle();
  width:200px;
}

.icon {
  width:30px;
  margin-right:8px;
}

.category-icon {
  margin: 0 auto;
  width:40px;
}

.recipe_details {
  padding-bottom:10px;
}

.recipe_container {
  height:450px;
  padding-top: unset;
}

.static {
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100%;
}

.sidebar_button {
  margin-top: 200px;
  top: 0px;
  z-index: 1;
  position: fixed;
}

.homepage {
  margin-left: 0px;
  display: flex;

}

.content {
  padding-left: 300px;
}

/* handling single page recipe card */
.title-single {
  font-size: 55px;
}
