body {
  font-family: 'Poppins', sans-serif;
  background-color: #F7EEE3;
}

.recipe_img {
  clip-path: circle();
}

.sidebar {
  padding-left:30px;
  height:100vh;
}

.recipe_preview {
  padding-left:300px;
}

.full_recipe {
  width:800px;
}

.full_recipe_img {
  clip-path: circle();
  width:200px;
}
